---
import Tooltip from "./Tooltip.astro";

import AstroIcon from "./icons/Astro.astro";
import TypeScriptIcon from "./icons/TypeScript.astro";
import RustIcon from "./icons/Rust.astro";
import VueIcon from "./icons/Vue.astro";

const { title, description, techs, cto } = Astro.props as {
    title: string,
    description: string,
    techs: string[],
    cto: {
        link: string,
        text?: string
    }
};
---

<div class="group  bg-gray-100/5 backdrop-blur-sm border border-gray-300/10 rounded-2xl p-6 hover:bg-gray-100/10 hover:border-gray-300/20 transition-all duration-300 overflow-hidden">
    <div class=" z-10 flex flex-col justify-between h-full">
        <span>
            <h3 class="text-xl font-semibold text-gray-100 mb-2">{title}</h3>
            <p class="text-gray-100/75 mb-4">{description}</p>
        </span>
        <div>
            <div class="flex items-center gap-3 mb-4">
                {
                    techs.map((tech) => (
                        <Tooltip text={tech}>
                            {tech === "Astro" && <AstroIcon />}
                            {tech === "TypeScript" && <TypeScriptIcon />}
                            {tech === "Rust" && <RustIcon />}
                            {tech === "Vue" && <VueIcon />}
                        </Tooltip>
                    ))
                }
            </div>
            <a href={cto.link} class="inline-flex items-center text-gray-100/75 hover:text-gray-100/90 transition-colors duration-300">
                {cto.text || "Learn more"}
                <svg class="w-4 h-4 ml-1" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path>
                </svg>
            </a>
        </div>
    </div>
</div>