---
import Typography from "./Typography.astro";
---

<main>
  <div class="bg-custom-radial h-[calc(100vh-2rem)] w-full mx-auto rounded-b-3xl">
	<div class="p-4 items-center flex flex-col justify-center gap-20 h-full">
		<div class="text-center max-w-2xl">
			<Typography as="h1" variant="hero" class="mb-4">
				Built for People, Not Profit
			</Typography>
			<Typography variant="caption">
				We create open source tools that don't cost anything to use. 
				<span class="text-gray-100/50">Transparent, accessible, and designed to actually work for you.</span>
			</Typography>
		</div>
		<div class="flex gap-2">
			<a href="#about" class="bg-gray-100/5 text-gray-100/75 hover:bg-gray-100/20 hover:text-gray-100/90 border border-gray-300/10 hover:border-gray-300/20 transition-colors duration-300 px-6 py-3 rounded-full font-semibold">
	    		Our Mission
			</a>
			<a href="/join" class="text-gray-100/75 hover:text-gray-100/90 transition-colors duration-300 px-6 py-3 rounded-full font-semibold">
	   			Join Our Community
	  		</a>
		</div>
	</div>
	<div id="scroll-arrow" class="text-gray-100/60 absolute bottom-12 left-1/2 -translate-x-1/2 animate-subtle-bounce transition-opacity duration-300">
		<svg class="w-8 h-8 mx-auto" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
			<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 14l-7 7m0 0l-7-7m7 7V3"></path>
		</svg>
	</div>
</main>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const arrow = document.getElementById('scroll-arrow');
    
    if (arrow) {
      window.addEventListener('scroll', () => {
        const scrolled = window.scrollY;
        const maxScroll = 300; // Adjust this value to control how quickly the arrow fades
        const opacity = Math.max(0, 1 - (scrolled / maxScroll));
        
        arrow.style.opacity = opacity.toString();
      });
    }
  });
</script>
