---

---

<main>
  <div class="bg-custom-radial h-[calc(100vh-2rem)] w-full mx-auto rounded-b-3xl">
	<div class="p-4 items-center flex flex-col justify-center gap-y-20 h-full">
		<div class="text-center text-gray-100 max-w-2xl">
			<h1 class="text-5xl font-bold mb-4">Serve The Common Good</h1>
			<p class="text-lg text-gray-100/75">We're an organization that creates open source SaaS <span class="text-gray-100/50">(Software as a Service)</span> with a mission to serve the common good.</p>
		</div>
		<div class="flex gap-x-2">
			<a href="/mission" class="bg-gray-100/5 text-gray-100/75 hover:bg-gray-100/20 hover:text-gray-100/90 border border-gray-300/10 hover:border-gray-300/20 transition-colors duration-300 px-6 py-3 rounded-full font-semibold">
	    		Our Mission
			</a>
			<a href="/join" class="text-gray-100/75 hover:text-gray-100/90 transition-colors duration-300 px-6 py-3 rounded-full font-semibold">
	   			Join our Organization
	  		</a>
		</div>
	</div>
	<div id="scroll-arrow" class="text-gray-100/60 absolute bottom-6 left-1/2 transform -translate-x-1/2 animate-subtle-bounce transition-opacity duration-300">
		<svg class="w-8 h-8 mx-auto" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
			<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 14l-7 7m0 0l-7-7m7 7V3"></path>
		</svg>
	</div>
</main>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const arrow = document.getElementById('scroll-arrow');
    
    if (arrow) {
      window.addEventListener('scroll', () => {
        const scrolled = window.scrollY;
        const maxScroll = 300; // Adjust this value to control how quickly the arrow fades
        const opacity = Math.max(0, 1 - (scrolled / maxScroll));
        
        arrow.style.opacity = opacity.toString();
      });
    }
  });
</script>
