@import url(https://fonts.bunny.net/css?family=alexandria:100,200,300,400,500,600,700,800,900);
@import "tailwindcss";

@layer utilities {
  .bg-custom-radial {
    background: radial-gradient(140% 107.13% at 50% 10%, transparent 37.41%, #63e 69.27%, #fff 100%);
  }

  .font-alexandria {
    font-family: 'Alexandria', sans-serif;
  }

  .animate-subtle-bounce {
    animation: subtle-bounce 3s ease-in-out infinite;
  }

  @keyframes subtle-bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    10% {
      transform: translateY(-4px);
    }
    30% {
      transform: translateY(-2px);
    }
  }
  
}

html {
  @apply text-gray-100;
  font-family: 'Alexandria', sans-serif;
}